{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div class="intro">
    <h2>Las Vegas Shooting</h2>
    
    <h1>Hedline goe here</h1>
    <div>
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=&body=">email</a> </li>
        </ul>
    </div>

    <p class="byline">By JESSICA SCHLADEBECK and TERENCE CULLEN</p>

    <p id="datestamp" class="stamp">Published {{''|last_update()}}</p>

    <p>They were military veterans and kindergarten teachers.</p>
<p>Sons. Brothers. Sisters. Mothers.</p>
<p>They were enjoying a country music concert when bullets rained down – a horrific shooting that killed at least 59 people and injured 500 more.</p>
<p>These are the victims of the Las Vegas shooting who have been identified so far.</p>

</div>

<p class="latest-news">
    The latest <a href="http://www.nydailynews.com/tags/las-vegas-shooting">Las Vegas shooting coverage</a>: 
    <strong id="latest-news-headline"></strong>
</p>
<script onload="document.getElementById('latest-news-headline').innerHTML=hed;" src="http://interactive.nydailynews.com/project/vegas-shooting/tag-las-vegas-shooting.js"></script>

{% include 'includes/ad02.html' %}

<section id="bios">
    <h2>The Victims</h2>
    <ul>
        <li>
            <img src="http://via.placeholder.com/225x225">
            <h3>Sonny Melton</h3>
            <p>Melton, 29, was a registered nurse who lived in western Tennessee. He was at the concert with his wife, Heather, to celebrate their one-year wedding anniversary. “He saved my life. He grabbed me and started running when I felt him get shot in the back,” his wife told Fox affiliate KVVU. “I want everyone to know what a kind-hearted, loving man he was, but at this point, I can barely breathe.”</p>
        </li>
    </ul>
</section>

<div>
    <p class="caption">Interactive by Kelli R. Parker</p>
</div>
{% endblock content %}
